# =====================

# IntelliJ / JetBrains IDEs

# =====================

.idea/
*.iml
*.iws
out/
.idea_modules/

# =====================

# Java

# =====================

*.class
*.log
*.ctxt
*.jar
*.war
*.ear
hs_err_pid*

# Compiled directories

target/
build/

# Maven

.mvn/
dependency-reduced-pom.xml

# Gradle

.gradle/

# =====================

# OS files

# =====================

.DS_Store
Thumbs.db
desktop.ini

# =====================

# VS Code (por si acaso)

# =====================

.vscode/

# Android Studio
local.properties
